body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#navbar {
    background-color: #ceeae2;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.navbar__list li {
    display: inline-block;
    margin: 25px 55px 15px;
}

.navbar__list a {
    color: #517065;
    text-decoration: none;
}

#welcome-section {
    background-color: #ceeae2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-section__title {
    text-align: center;
}

.welcome-section__title h1 {
    margin: 0;
}

.welcome-section__title p {
    color: #125a40;
    margin: 0;
}

#projects {
    text-align: center;
}

#projects h2 {
    color: #125a40;
    font-weight: normal;
    margin: 50px 0 0;
}

.projects__wrap-row {
    display: flex;
    justify-content: center;
}

.project-tile {
    border: 2px solid #84e2f9;
    margin: 40px 100px 40px;
}

.project-tile a {
    text-decoration: none;
    color: #125a40;
    font-weight: bold;
}

.project-tile img {
    width: 280px;
}

.project-title {
    border-top: 2px solid #84e2f9;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #125a40;
    font-weight: bold;
    background-color: #cfe2dc;
    border: 2px solid #5fc68a;
}

.button:hover {
    background-color: #dffcfa;
}

.button-show {
    padding: 10px 65px 10px;
    border-radius: 4px;
    margin: 20px 0 90px;
}

#contacts {
    background-color: #cbfcc9;
    text-align: center;
    padding: 180px 0 200px;
}

#header h2 {
    font-size: 2em;
    margin: 0;
}

#header p {
    margin: 0;
}

#social-profiles {
    margin-top: 90px;
}

.button-profile {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 35px;
}

footer {
    background-color: #22313f;
    color: #fff;
    padding: 20px 0 20px;
    text-align: center;
}

footer a {
    color: #fff;
}